@{
    ViewBag.Title = "About this project";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is small project developed during my learning process at SoftUni.</p>
<p>There is no database defined, so your data will go after the application is stopped.</p>
